// config variables
$color-primary: #37474f;
$color-primary-light: lighten($color-primary, 10);
$color-primary-dark: darken($color-primary, 10);
$color-secondary: #ffd740;
$color-secondary-light: lighten($color-secondary, 10);
$color-secondary-dark: darken($color-secondary, 10);
$color-background: $color-primary-dark;
$color-text: white;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
}

img {
	width: 100%;
}

a {
	text-align: center;
	padding: 5px 10px;
	text-decoration: none;
	display: inline-block;
	color: white;
	padding-bottom: 0.4rem;
	transition: all 200ms ease-in-out;
	min-height: 35px;
	justify-self: start;
}

a:hover {
	color: $color-secondary-light;
	// border-bottom: $color-secondary-light solid 2px;
	cursor: pointer;
}

button:focus {
	outline: none;
}

.strong {
	text-transform: uppercase;
	color: white;
	text-shadow: 2px 2px black;
}
.strong-reverse {
	text-transform: uppercase;
	color: $color-secondary-dark;
	text-shadow: 2px 2px $color-primary;
}

ul {
	list-style: none;
}

.text-color-secondary {
	color: $color-secondary;
}
