// media query
@media (min-width: 1200px) {
	.container {
		width: 1080px;
	}
}

@media (max-width: 768px) {
	.container {
		width: 100%;
	}

	#header {
		.header {
			.menu {
				// display: none;
				position: fixed;
				display: flex;
				flex-direction: column;
				top: 0;
				left: -500px;
				z-index: 5;
				background-color: $color-primary-dark;
				opacity: 90%;
				width: 60%;
				height: 100vh;
				padding-top: 6rem;

				li {
					margin-bottom: 2rem;
				}
			}
			.menu-bar {
				display: block;
			}
		}
		.menu-show {
			transform: translateX(500px);
		}
	}

	.intro {
		height: 400px;

		#left-btn,
		#right-btn {
			top: 80%;
		}
		.introduction {
			h1 {
				padding-top: 6rem;
			}
			p {
				width: 80%;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	#skill-title {
		width: 98%;
	}
	#skills {
		grid-template-columns: repeat(3, 1fr);
		border-bottom-left-radius: 0.8rem;
		border-bottom-right-radius: 0.8rem;
		width: 98%;
	}

	.projects {
		&-content {
			flex-direction: column;
			.projects-img {
				width: 98%;
			}
			.content-detail {
				display: none;
			}
		}
	}

	#personal-info {
		flex-direction: column;
		text-align: center;
		.name {
			margin: auto;
			padding: 1rem;
		}
		ul {
			margin: auto;
		}
	}

	.resume-skill {
		&-detail {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	#footer {
		flex-direction: column;

		.contact,
		p {
			margin-top: 0.4rem;
		}
	}
}
