@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'config';
@import "resume";

#header {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: darken($color-primary-dark, 10);

		.logo {
			width: 40px;
			margin: 0.4rem 2rem;
		}

		.menu {
			display: flex;
			align-items: center;
			padding-right: 2rem;

			&-active {
				font-weight: bold;
				border-bottom: solid 2px $color-primary-light;
			}

			li {
				padding: 0 1rem;
				list-style-type: none;
			}
		}
	}
}

.intro {
	height: 500px;
	margin: auto;
	background-color: black;
	position: relative;

	#left-btn {
		position: absolute;
		font-size: 2rem;
		transition: all 400ms;
		z-index: 2;
		left: 1rem;
		top: 50%;
		&:hover {
			transform: translateX(-0.2rem);
			color: $color-secondary-light;
			cursor: pointer;
		}
	}

	#right-btn {
		position: absolute;
		font-size: 2rem;
		transition: all 400ms;
		z-index: 2;
		right: 1rem;
		top: 50%;

		&:hover {
			transform: translateX(0.2rem);
			color: $color-secondary-light;
			cursor: pointer;
		}
	}

	@keyframes showbg {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.introduction {
		text-align: center;
		width: 100%;
		height: 100%;
		position: relative;
		display: none;
		opacity: 0;
		transition: all 800ms ease-in-out;
		animation-name: showbg;
		animation-duration: 1500ms;

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}

		h1 {
			position: relative;
			padding-top: 10rem;
			font-size: 3rem;
			z-index: 2;
		}
		p {
			position: relative;
			font-size: 1.6rem;
			margin-top: 1rem;
			z-index: 2;
		}
		a {
			position: relative;
			margin-top: 1rem;
			z-index: 2;

			i {
				margin-left: 0.4rem;
			}
		}
	}

	.current {
		opacity: 100%;
		display: block;
	}

	.bg1 {
		background: url("../imgs/intro1.jpg") no-repeat center top/cover;
	}
	.bg2 {
		background: url("../imgs/intro2.jpg") no-repeat center top/cover;
	}
	.bg3 {
		background: url("../imgs/intro3.jpg") no-repeat center top/cover;
	}
}

#skill-title {
	padding-top: 1.2rem;
	padding-left: 3rem;
	background-color: white;
	color: $color-primary-dark;
}
#skills {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	gap: 0.2rem;
	background-color: white;
	color: $color-primary-dark;
	border-bottom-left-radius: 0.4rem;
	border-bottom-right-radius: 0.4rem;
}

.skill {
	cursor: pointer;

	i {
		font-size: 4rem;
		margin-top: 1rem;
	}

	h5 {
		font-size: 1.2rem;
		margin: 1rem 0;
		transition: all 100ms ease-in-out;
		min-height: 38px;
	}
	#html5 {
		background: linear-gradient(to right, #e34c26 50%, #f06529 50%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#css3 {
		background: linear-gradient(to right, #264de4 50%, #2965f1 50%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
	#js {
		color: darken(yellow, 10);
		// background: linear-gradient(white 6%, black 6%, black 93%, white 93%);
		// text-shadow: 1px 0px;
	}
	#bootstrap {
		color: #563d7c;
	}
	#react {
		color: #61dbfb;
	}
	#sass {
		color: #c69;
	}
}

.skill:hover h5 {
	font-size: 1.8rem;
}

#projects {
	h1 {
		margin-top: 1.4rem;
		border-radius: 0.4rem;
		font-size: 2rem;
		background-color: $color-primary;
		padding: 1rem 3rem;
	}
}
.projects {
	&-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.projects-img {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem 0;
			margin: 0.5rem;
			border-radius: 0.5rem;
			background-color: $color-primary;

			img {
				width: 80%;
				height: 250px;
				object-fit: cover;
				border-radius: 0.5rem;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
			}

			h2 {
				margin: 1rem 0;
			}
			h5 {
				color: $color-primary-light;
			}
		}

		.content-detail {
			align-self: stretch;
			width: 50%;
			display: flex;
			flex-direction: column;

			&-up,
			&-down {
				padding: 1rem;
				background-color: $color-primary;
				border-radius: 0.5rem;
				margin: 0.5rem;
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
	}
}

#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	background-color: darken($color-primary, $amount: 10) !important;
	padding: 0.4rem 2rem;
	border-radius: 0.4rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
	.contact {
		a {
			border: none;
			min-height: 10px;
		}
	}
}

// modal
#modal-skill {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	background-color: rgba($color: #000000, $alpha: 0.6);
	display: none;
	animation-name: show-modal-animation;
	animation-duration: 400ms;
	@keyframes show-modal-animation {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	.modal-skill {
		position: relative;
		width: 300px;
		height: 500px;
		background-color: white;
		color: $color-primary-dark;
		border-radius: 0.4rem;
		margin: 150px auto;

		#close-btn-top:hover {
			opacity: .8;
		}
		& > i {
			position: absolute;
			right: 1rem;
			top: 1rem;
		}

		.modal-top {
			height: 200px;
			text-align: center;
			padding-top: 4rem;
			animation-name: modal-top-move-in;
			animation-duration: 600ms;
			-moz-animation-timing-function: ease-out;

			@keyframes modal-top-move-in {
				from {
					opacity: 0;
					transform: translateX(-50%);
				}
				to {
					transform: translateX(0);
					opacity: 100%;
				}
			}
			& > h5 {
				font-size: 2rem;
			}
		}
		.modal-bottom {
			background-color: #f2f2f3;
			height: 300px;
			border-radius: 0.4rem;

			> button {
				position: absolute;
				bottom: 1rem;
				left: 50%;
				transform: translateX(-50%);
			}
			p {
				font-size: 1.2rem;
				padding: 2rem;
			}
		}
	}
}

.show-modal {
	display: block !important;
}

@import 'util';
@import "_mediaQuery";
