@import 'config';
@import 'util';

#header {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: darken($color-primary-dark, 10);

		.logo {
			width: 40px;
			margin: 0.4rem 2rem;
		}

		.menu {
			display: flex;
			align-items: center;
			padding-right: 2rem;

			li {
				margin: 0 1rem;
				list-style-type: none;
			}
		}
	}
}

.intro {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 500px;
	margin: auto;
	background-color: darken($color-primary-dark, 5);
	background-image: url("../imgs/intro1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	#left-btn {
		font-size: 2rem;
		transition: all 400ms;
	}
	#left-btn:hover {
		transform: translateX(-0.4rem);
	}

	.introduction {
		text-align: center;
		h1 {
			font-size: 3rem;
			margin-top: 3rem;
		}
		p {
			font-size: 1.6rem;
			margin-top: 1rem;
		}
		a {
			margin-top: 1rem;
			i {
				margin-left: 0.4rem;
			}
		}
	}

	#right-btn {
		font-size: 2rem;
		transition: all 400ms;
	}

	#right-btn:hover {
		transform: translateX(0.4rem);
	}
}

#skills {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 1rem;
	gap: 0.2rem;
	background-color: white;
	color: $color-primary-dark;
	h1 {
		grid-column: 1/7;
		font-size: 2rem;
		text-align: start;
		padding: 1rem;
	}

	.skill {
		cursor: pointer;

		i {
			font-size: 4rem;
			margin-top: 1rem;
		}

		h5 {
			font-size: 1.2rem;
			margin: 1rem 0;
			transition: all 100ms ease-in-out;
			min-height: 50px;
		}
		#html5 {
			background: linear-gradient(to right, #e34c26 50%, #f06529 50%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		#css3 {
			background: linear-gradient(to right, #264de4 50%, #2965f1 50%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
		#js {
			color: yellow;
			background: linear-gradient(white 6%, black 6%, black 93%, white 93%);
			text-shadow: 1px 0px;
		}
		#bootstrap {
			color: #563d7c;
		}
		#react {
			color: #61dbfb;
		}
		#sass {
			color: #c69;
		}
	}

	.skill:hover h5 {
		font-size: 2rem;
	}
}

// #projects {
// 	h1 {
// 		font-size: 2rem;
// 		padding: 1rem 1.2rem 0 0;
// 		margin: 1rem;
// 	}
// 	h2 {
// 		font-size: 1.6rem;
// 	}

// 	p {
// 		font-size: 1.2rem;
// 		margin-top: 1rem;
// 		padding: 1rem;
// 	}

// 	img {
// 		width: 400px;
// 		object-fit: cover;
// 		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
// 	}

// 	.projects {
// 		background-color: darken($color-primary-dark, $amount: 10);

// 		.project1 {
// 			display: flex;
// 			flex-direction: row;
// 			justify-content: space-evenly;
// 			padding: 1rem;
// 			// margin-top: 1rem;

// 			.project-content {
// 				display: flex;
// 				flex-direction: column;
// 				align-items: center;
// 				justify-content: center;
// 				width: 40%;
// 				i {
// 					margin-left: 5px;
// 				}
// 				a:hover i {
// 					margin-left: 10px;
// 				}
// 			}
// 		}
// 	}
// }

.projects {
	&-content {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		// background-color: #2a3351;

		.projects-img {
			width: 50%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: 1rem 0;
			margin: 0.5rem;

			border-radius: 0.5rem;
			background-color: $color-primary;

			img {
				width: 80%;
				border-radius: 0.5rem;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
			}
			h2 {
				margin: 1rem 0;
			}
			h5 {
				color: #cdd1e4;
			}
		}

		.content-detail {
			align-self: stretch;
			width: 50%;
			display: flex;
			flex-direction: column;

			&-up,
			&-down {
				padding: 1rem;
				background-color: $color-primary;
				border-radius: 0.5rem;
				margin: 0.5rem;
				height: 100%;
				display: flex;
				align-items: center;
			}
		}
	}
}

footer {
	padding: 1rem;
	font-size: 1.2rem;
	text-align: center;
	background-color: darken($color-primary, $amount: 10) !important;
}

// media query
@media (min-width: 1200px) {
	.container {
		width: 1080px;
	}
}
